:root {
  --border: #ddd;
  --border-hover: rgb(71, 71, 71);
  --bg-hover: rgba(0, 0, 0, 0.1);
  --text: rgba(102, 102, 102, 1);
  --text-hover: #000;
  --ident: 20px;
  --left: calc(-1 * var(--ident));
  --server-level-bg: #ddf3fe;
  --load-balancer-bg: #ffd5d5;
  --surrounding-db-bg: #ddebc8;
  --surrounding-child-bg: #fefcd5;
  --database-bg: #ffd580;
  --bg-hover: rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  padding: 0 0 10px 0;
}

ol {
  margin-left: 0px;
  counter-reset: item;
}

.wtree li {
  list-style-type: none;
  margin: 10px 0px 10px 10px;
  position: relative;
}

.wtree li:before {
  content: "";
  counter-increment: item;
  position: absolute;
  top: -10px;
  left: var(--left);
  border-left: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  width: var(--ident);
  height: 15px;
}

.wtree li:after {
  position: absolute;
  content: "";
  top: 5px;
  left: var(--left);
  border-left: 1px solid var(--border);
  border-top: 1px solid var(--border);
  width: var(--ident);
  height: 100%;
}

.wtree li:last-child:after {
  display: none;
}

.wtree li .label-item {
  display: flex;
  align-items: center; /* Align items vertically centered */
  border: 1px solid var(--border);
  padding: 10px;
  color: var(--text);
  text-decoration: none;
  width: 100%; /* Take full width of parent */
}

.wtree li .label-item span {
  flex-grow: 1; /* Grow to take available space */
  margin-left: 10px;
}

.wtree li .label-item .button-container {
  display: flex;
}

.wtree li .label-item .button-container button {
  margin-left: 5px; /* Add spacing between buttons */
  width: 95px;
}

.wtree li .label-item:before {
  content: counters(item, ".") " ";
}

.wtree li .label-item:hover,
.wtree li .label-item:focus {
  color: var(--text-hover);
  border: 1px solid var(--border-hover);
}

.wtree li .label-item:hover + ol li .label-item,
.wtree li .label-item:focus + ol li .label-item {
  color: var(--text-hover);
  border: 1px solid var(--border-hover);
}

.wtree li .label-item:hover + ol li:after,
.wtree li .label-item:focus + ol li:after,
.wtree li .label-item:hover + ol li:before,
.wtree li .label-item:focus + ol li:before {
  border-color: var(--border-hover);
}

/* Specific styling */
.server-level .label-item,
.server-level > .label-item {
  background-color: var(--server-level-bg) !important;
}

.load-balancer .label-item {
  background-color: var(--load-balancer-bg) !important;
}

.surrounding-db .label-item {
  background-color: var(--surrounding-db-bg) !important;
}

.surrounding-db ol li .label-item {
  background-color: var(--surrounding-child-bg) !important;
}
.database .label-item {
  background-color: var(--database-bg) !important;
}
.display {
  margin-right: 12px;
  font-weight: bold;
}

.bg-load-balancer-bg {
  background-color: var(--bg-hover) !important;
  color: #99a1b7 !important;
  /* font-weight: bold; */
}

.bg-surrounding-db-bg {
  background-color: var(--bg-hover) !important;
  color: #99a1b7 !important;
  font-weight: bold;
}
.bg-database {
  background-color: var(--bg-hover) !important;
  color: #99a1b7 !important;
  font-weight: bold;
}

.bg-load-balancer-bg:hover,
.bg-load-balancer-bg:focus {
  background-color: var(--load-balancer-bg) !important;
  cursor: pointer;
}
.bg-surrounding-db-bg:hover,
.bg-surrounding-db-bg:focus {
  background-color: var(--surrounding-db-bg) !important;
  cursor: pointer;
}

.bg-database:hover,
.bg-database:focus {
  background-color: var(--database-bg) !important;
  cursor: pointer;
}

.legend-box {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
}

.legend-box.server-level {
  background-color: var(--server-level-bg);
}
.legend-box.load-balancer {
  background-color: var(--load-balancer-bg);
}
.legend-box.surrounding-db {
  background-color: var(--surrounding-db-bg);
}
.legend-box.surrounding-child {
  background-color: var(--surrounding-child-bg);
}
.legend-box.database {
  background-color: var(--database-bg);
}
